@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_960_720.jpg) no-repeat center center fixed;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  background-size: cover;
  color: #FFD700;
}

.loader {
	border-top-color: #FFD700;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
    font-weight: 600;
  }
}

@layer components {
  .pagination {
    margin: 30px;
  }

  .footer {
    min-height: 92px;
  }

  .text-blue-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(255 215 0 / var(--tw-text-opacity))!important;
  }

  .border-blue-gray-200 {
    border-color: rgb(255 215 0 / var(--tw-border-opacity))!important;
  }

  .text-blue-gray-400 {
    color: rgb(255 215 0 / var(--tw-text-opacity))!important;
  }

  .bg-white {
    background-color: rgba(0,0,0,.95)!important;
  }

  .select {
    margin-bottom: 30px;
  }

  .page__section {
    background-color: transparent;
  }

  section {
      margin-top: 30px!important;
      margin-bottom: 10px!important;
  }

  .text-yellow {
    color: #FFD700!important;
  }

  .page__logo {
    width: 60px;
  }

  .link {
    cursor: pointer;
    display: block;
  }

  .poster {
    width: 50px;
  }
}
